<body>
  <div class="d-lg-flex half">
    <div
      class="bg order-2 order-md-1"
      style="background-image: url('assets/bg_1.png')"
    ></div>
    <div class="contents order-1 order-md-2">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <br />
            <div>
              <span>
                <a href="">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a
                >
              </span>
            </div>
            <br />
            <strong class="topic"> <h1>Reset Password</h1></strong>
            <hr /><br />
            <form>
              <div class="p1">
                <p>
                  Your new password must be different from previously used password
                </p>
              </div>
              <div class="form-group last mb-3 label1" >
                <label for="password" style="margin-top: 20px">New Password</label>
                <input
                  type="{{passwordType}}"
                  class="form-control input1"
                  id="password"
                  name="password"
                  minlength="8"
                  pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$'
                  required
                  #passwordField="ngModel"
                  [(ngModel)]="password"
                />
                <span
                  *ngIf="password"
                  (click)="showPassword()"
                  class="eyeIcon"
                >
                  <fa-icon [icon]="faEyeSlash" style="cursor: pointer">
                  </fa-icon>
                </span>
                <div
                  *ngIf="
                    passwordField.invalid && (passwordField.dirty || passwordField.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="passwordField.errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="passwordField.errors?.['minlength']">
                    Password should be contain 1 digit, 1 lowercase, 1 uppercase, more than 8 chars
                    
                  </div>
                </div>
                
              </div>
              <div class="form-group last mb-3 label1">
                <label for="password"style="margin-top: 16px;"
                  >Confirm Password</label
                >
                <input
                  type="{{confirmPasswordType}}"
                  class="form-control input1"
                  id="confirmPassword"
                  name="confirmPassword"
                  minlength="8"
                  pattern="^(?=\D*\d)(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z]).{8,30}$"
                  required
                  #confirmPasswordField="ngModel"
                  [(ngModel)]="confirmPassword"
                />
                <span
                  *ngIf="confirmPassword"
                  (click)="showConfirmPassword()"
                  class="eyeIcon1"
                >
                  <fa-icon [icon]="confaEyeSlash" style="cursor: pointer">
                  </fa-icon>
                </span>
                <div
                  *ngIf="
                    confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="confirmPasswordField.errors?.['required']">
                    Confirm Password is required.
                  </div>
                  <div *ngIf="confirmPasswordField.errors?.['pattern']">
                    Password should be contain 1 digit, 1 lowercase, 1 uppercase, more than 8 chars
                    
                  </div>
                  <div *ngIf="!confirmPasswordField.invalid && password != confirmPassword" class="text-danger">
                    Password mismatched.
                  </div>
                </div>
                
              </div>
  
              
  
              <input
                type="submit"
                value="Reset"
                class="btn btn-block btn-primary"
              /><br /><br />
            </form>
          </div>
          <div class="logo">
            <img src="assets/logo.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>