p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #10002e;
  font-size: 40px;
  line-height: 48px;
  align-items: flex-start;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}
h1 {
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.half,
.half .container > .row {
  height: 100vh;
  min-height: 700px;
}

// @media (max-width: 991.98px) {
//   .half .bg {
//     height: 200px;
//   }
// }

.half .contents {
  background: #f6f7fc;
}

.half .contents,
.half .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.half .contents .form-control,
.half .bg .form-control {
  border: 1px solid #8BB4FF;
  border-radius: 8px;
  height: 48px;
  background: #f5f8ff;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: none;
  margin-top: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.half .btn {
  height: 48px;
  border-radius: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
  color: #0575e6;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.btn {
  background-color: #1565d8;
  border-color: #1565d8;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #1565d8;
  text-transform: capitalize;
}
.btn:hover {
  background-color: #1565d8;
  border: #1565d8;
  color: white;
}

.logo {
  align-items: center;
  align-content: center;
  max-width: 190px;
  margin-top: 120px;
  margin-left: 110px;
}

.container {
  background-color: white;
}

.form-control {
  background-color: gray;
  border: #0575e6;
}

.p1,
.p2 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #000000;
  line-height: 24px;
}

.p2 {
  color: #b4b7b9;
  margin-top: -10px;
}
.label1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #10002e;
  margin-top: 1px;
}

.back{
  margin-top: -30px;
}
.input-text {
  text-transform: capitalize;
  margin-top: 13px;
  padding: 12px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #10002e;
}

.frm {
  margin-top: 60px;
}

.forgot {
  height: 85px;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
}
