<div class="d-lg-flex half">
    <div
      class="bg order-2 order-md-1"
      style="background-image: url('assets/bg_1.png')"
    ></div>
    <div class="contents order-1 order-md-2">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <br />
            <div>
              <span>
                <a href="">
                  <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a
                >
              </span>
            </div>
            <br />
            <strong class="topic"> <h1>Forgot <br> Password</h1></strong>
            <hr /><br />
            <form>
              <div class="p1">
                <p>
                    Enter the Employee ID associate with account
                </p>
              </div>
              <div class="p2">
                <p>
                    We will email you a link to reset your password
                </p>
              </div><br>
              <div class="form-group last mb-3 label1" >
                <label for="id" style="font-weight: bold">Employee ID</label>
                <input
                  type="text"
                  class="form-control input1"
                  id="id"
                  name="id"
                  #id="ngModel"
                  [(ngModel)]="hr.id"
                  minlength="6"
                  required
                />
                <div
                  *ngIf="id.invalid && (id.dirty || id.touched)"
                  class="text-danger"
                >
                  <div *ngIf="id.errors?.['required']">ID is required.</div>
                </div>
                <div *ngIf="id.errors?.['minlength']" class="text-danger">
                  ID must be at least 6 characters long.
                </div>
              
              </div>
  
              <input
                type="submit"
                value="next"
                class="btn btn-block btn-primary"
              /><br /><br />
            </form>
          </div>
          <div class="logo">
            <img src="assets/logo.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  